body {background-color: lightgray;}
h1 {
font-size: 30px;
color: teal;
}
h2 {
color: red;
font-size: 25px;
}
h2 {color: green;}
.Big { font-size: 40px; }
.up {text-transform: uppercase;}
.Big.up{color: navy;}
h1 span {color: violet;}