h1 {
    text-align: center;
    text-decoration: blue dashed underline;

    font-size: 50px;
    font-family: monospace;
    color: darksalmon;
}
h1:hover {
    font-size: 55px;
    color: blue;
}
h1 ::selection {
    background-color: yellow;
}
p{
    line-height: 30px;
}

}
span {
    color: lightcoral;
}
.tag {
    background-color: aqua;
}
.tag2   {
    background-color:darkcyan ;
}
h2{
    color: aliceblue;
}
input  {
    color: red;
}
form {
    color: brown;
    font-size: large;
}
button {
    color: darkred;
}
button:hover{
    background-color: black;
    color: #ccc;
}
a:hover {
    text-decoration: dashed;

}
p ::first-letter {
    font-size: 50px;
}
h2 ::first-letter 
{
    font-size: 200px;
}
p ::selection {
    background-color: yellow;
}
div {
    background-color: #ba6f4d ;
    color: white;
    width: 300px;
}
#one {
    background-color: #1b4332;
   border-style: solid;
   /* border-radius: 50px; */
   border-color: aqua;
   box-sizing: border-box;
   border-width: 5px;
}
#two {
    background-color: #1b1c43;
    border-style: dashed;
    border-color: #99d98c ;
    border-width: 3px;
    box-sizing: border-box;
}
#three {
    background-color: #431b3e;
    border: 4px solid greenyellow;
    box-sizing: border-box;
    height: 300px;
    border-radius: 50%;
    border-top-left-radius: 00%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    text-align: center;
}

