h2{
    color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    letter-spacing: 15px;
    
}
a{
    text-decoration: dashed underline 4px;
    color: brown;
}
h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 50px;
    font-family: monospace;
    letter-spacing: 50px;
    under
}

#b1 {
    background-color: red;
    color : white;
}