body{
    font-family: 'Source Code Pro', monospace;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    background-color: #151b29;
  }
  button{
    background:none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
      fontsize: 1em;
    transition: all 0.2s;
    border-radius: 5px;
    
  }
  button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.3em);
    transform: scale(1.1);
      cursor: pointer;
    
  }
  button:active {
    border-color: red;
    color: red;
    box-shadow: 0 0.9em 0.9em -0.9em red;
    
     border-radius: 10px;
    
    
    
  }